<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name ="connStringName" connectionString ="Data Source=.;Initial Catalog=STBInfo;Persist Security Info=False;User ID=sa; pwd =sa"
		 providerName="System.Data.SqlClient" />
    <add name="ConnectionString" connectionString="FBF6A78BBAB1884D9F312745B8CB847C580568CB6BC4AFD40D6EF059EC704C79FADE95E34B89C2991AACFDD52A4FC1A3CFFD"
     providerName="System.Data.SqlClient" />
    <!--<add name="HXECard.Properties.Settings.ConnectionString" connectionString="Data Source=SUN-H;Persist Security Info=True;User ID=sa;Password=123456"
     providerName="System.Data.SqlClient" />
    <add name="HXECard.Properties.Settings.hxecardConnectionString"
     connectionString="Data Source=.;Initial Catalog=hxecard;Integrated Security=True"
     providerName="System.Data.SqlClient" />-->
  </connectionStrings>

</configuration>