<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name ="connStringName" connectionString ="Data Source=192.168.16.9;Initial Catalog=STBInfo;Persist Security Info=False;User ID=sa; pwd =sa;"
		 providerName="System.Data.SqlClient" />
    <!--<add name ="connStringName" connectionString ="Data Source=192.168.16.9;Initial Catalog=STBInfo;Persist Security Info=False;User ID=sa; pwd =sa;Connect Timeout=3"
    providerName="System.Data.SqlClient" />-->
    <add name="ConnectionString" connectionString="FBF6A78BBAB1884D9F312745B8CB847C580568CB6BC4AFD40D6EF059EC704C79FADE95E34B89C2991AACFDD52A4FC1A3CFFD"
     providerName="System.Data.SqlClient" />
   
  </connectionStrings>

</configuration>